consumer:
  bootstrap-servers: ["kafka:9093"]
  commit-modulo: 300
  topics:
  - outbox.event.hbi.hosts
  - host-inventory.hbi.hosts
  retry-options:
    consumer-max-retries: -1
    operation-max-retries: -1
    backoff-factor: 5
    max-backoff-seconds: 30
  auth:
    enabled: false
client:
  enabled: true
  url: "inventory-api:9081"
  enable-oidc-auth: false
  insecure-client: true
log:
  level: "info"
